body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(13, 69, 189);
    margin: 20px;
    padding: 0;
    
}

.resume-container {
    max-width: 500px;
    margin: auto;
    color: #8c2b2b;
}

.section {
    margin-bottom: 20px;
}

.editable {
    border: 1px dashed #d9d9ef;
    padding: 20px;
    min-height: 30px;
    cursor: text;
}

.editable:focus {
    outline: none;
    border: 1px solid #0d0c0d;

}  
 button{
    color: #0d0e0e;
    background-color: rgb(3, 3, 3);
 }